.main-page{
    display: flex;
    flex-direction: row;

    .main{
        flex: 1;
        .card-container{
            .details{
                color: wheat;
            }
        }
    }
    .contestants{
        flex: 1;
    }
}