.admin-page{
    display: flex;
    flex-direction: row;
    background-color: black;

    .main{
        flex: 1;
        background-image: url("../images/trans.png");
        background-position: 'center';
        background-size: 'cover';
        background-size: 100%;
        background-repeat : 'no-repeat';

        h2{
            color:white;
        }
        h3{
            color:white;
        }
        .details1{
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
            font-size: 3rem;
            color: wheat;
        }
        .details2{
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
            font-size: 3rem;
            color: wheat;
        }
        .details3{
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
            font-size: 3rem;
            color: wheat;
        }
        .card-container{
            height: 100%;
            flex-direction: column;
            
            .details{
                color: wheat;
            }
        }

        
    }
}
.password-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.924);
    background-image: url("../images/trans.png");

    
    .login{
        align-content: center;
        margin: 0 auto;
        align-self: center;
        margin: auto 0;
        vertical-align: middle;
        #login-text{
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
             color: rgb(238, 238, 238);
             margin-bottom: 2rem;
        }
         #password{
             text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
             color: rgb(0, 156, 218);
         }
         #pwd_submit{
             margin-top: 1rem;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
         }
    }
}
.admin-page2{

}