.base{
    background: black;
}
.pageNotFound{
    background: url("../images/trans.png");
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: left;
}
.message{

    color: white;
    font-family: 'Heebo', sans-serif;
    margin-left: 20%;
    padding-top: 10%;
    font-size: 2.5rem;
}

.message-info{
    font-size: 1.5rem;
    display: inline;
}
a{
    margin-left: 2px;
    color: white;
    font-size: 1.5rem;
}

.center-message{
    height: 30%;
}
h2 {
    margin-bottom: 1rem;
}

.message-container{
    border: white solid 1px;
    border-radius: 20px;
    margin-right: 32%;
    padding: 1.5rem;
    background-color:rgba(255, 255, 255, 0.1);
}