.cListitem{
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-items: right;
    border-radius: 1vw;
    margin-bottom: 0.4rem;
    align-items: center;
    box-shadow: 4px 4px 8px rgb(58, 58, 58);
    .cMarker{
        width: 10%;
        height: 8rem;
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
    }

    .uncompleted{
        background-color: rgb(195, 0, 0);
    }

    .completed{
        background-color: rgb(0, 245, 53);
    }
    .cVertical{
        display: flex;
        flex-direction: column;
    
        #cName{
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
            font-size: 1.3rem;
            margin-left: 1.5rem;
            color: rgb(0, 84, 153);
        }
        
        #cEvent{
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
            font-size: 1rem;
            margin-left: 1.5rem;
            color: rgb(56, 56, 56);
        }
    }
    .cBranch{
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 3rem;
        flex: 1;
        margin-left: 0;
        text-align: right;
        margin-right: 0.5rem;
       bottom: 0;
        color: rgba(0, 0, 0, 0.315);
    } 
}
.selected{
    background-color: rgb(209, 207, 207);
}
.unselected{
    background-color: rgb(255, 255, 255);
}
