.fListitem{
    padding-left: 2rem;
    width: 90vw;
    margin: 0 auto;
    height: 6vw;
    display: flex;
    flex-direction: row;
    background-color: rgb(41, 41, 41);
    align-items: center;
    border-bottom: 2px solid rgb(116, 116, 116);
    #fRank{
        text-align: center;
        width: 10%;
        font-family: 'Montserrat', sans-serif;
        font-size: 4rem;
        color: rgb(0, 156, 218);
    }
    #fBranch{
        margin-left: 3.5rem;
        width: 25%;
        font-family: 'Montserrat', sans-serif;
        font-size: 4rem;
        color: rgb(241, 241, 241);
    }
    #fGold{
        width: 20%;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 4rem;
        color: yellow;
    }
    #fSilver{
        width: 20%;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 4rem;
        color: rgb(187, 187, 187);
    }
    #fBronze{
        text-align: center;
        width: 20%;
        font-family: 'Montserrat', sans-serif;
        font-size: 4rem;
        color: rgb(255, 123, 0);
    }
    #fTotal{
        text-align: center;
        width: 20%;
        font-family: 'Montserrat', sans-serif;
        font-size: 4rem;
        color: rgb(218, 218, 218);
    }
    .fVertical{
        display: flex;
        flex-direction: column;
    
        // #cName{
        //     font-family: 'Raleway', sans-serif;
        //     font-weight: 800;
        //     font-size: 1.1rem;
        //     margin-left: 1.5rem;
        //     color: rgb(0, 84, 153);
        // }
        
        // #cEvent{
        //     font-family: 'Raleway', sans-serif;
        //     font-weight: 800;
        //     font-size: 0.8rem;
        //     margin-left: 1.5rem;
        //     color: rgb(29, 29, 29);
        // }
    }
    .fBranch{
        margin-left: 3.5rem;

        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 2rem;
        flex: 1;
        margin-left: 0;
        text-align: right;
        margin-right: 0.5rem;
       bottom: 0;
        color: rgba(0, 0, 0, 0.315);
    }
      
   
}