    .card{
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 0.4rem;
        background-color: #222222;
        border: 0.05rem #858585 solid;

        .circle{
            border: 0.3rem #00B7FE solid;
            width: 7rem;
            height: 7rem;
            border-radius: 5rem;
            margin: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;

            span{
                font-family: 'Montserrat', sans-serif;
                font-weight: 200;
                font-size: 3.7rem;
                color: white;
            }
        }

        // h2{
        //     font-family: 'Raleway', sans-serif;
        //     text-align: center;
        //     margin-top: 1rem;
        //     color: antiquewhite;
        //     font-size: 1.25rem;
        // }
    }

// #desc{
//     font-family: 'Nunito',sans-serif;
//     font-size: 1.2rem;
//     text-align: center;
//     margin-top: 0%;
//     padding-right: 0.1rem;
//     padding-left: 0.1rem;
//     color: rgb(187, 187, 187);
// }

// #crit{
//     font-family: 'Raleway', sans-serif;
//     font-weight: 800;
//     font-size: 1.2rem;
//     text-align: center;
//     color:rgb(184, 184, 184); 
// }


.a-card{
    margin: 0 auto;
    padding: 3rem 1rem;
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #222222;
    border: 0.05rem #858585 solid;
.horizontal-holder{
    flex: 1;
    width: 60%;
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    vertical-align: middle;
    justify-self: right;
    align-content: space-between;

    #score-criteria{
        flex: 1;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 1.3rem;
        text-align: left;
        color: white;
    }

    .inputScore{
        flex: 1;
        width: 6rem;
        border: 0.05rem rgb(0, 156, 218) solid;
        border-radius: 0.2rem;
        span{
            vertical-align: middle;
            align-content: flex-end;
            justify-content: right;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            font-size: 4rem;
            color: white;
        }
    }
}
.button{
    margin-top: 25px;
}
}
