html {
    //box-sizing: border-box;
    overflow: hidden;
  }
  
  *,
  *::before,
  *::after {
    //box-sizing: border-box;
  }
  
  // Remove figure margin
  figure,
  body {
    margin: 0;
    padding: 0;
  }